body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}

:root {
    --text-color: #555;
    --text-color-2: #8a8a8a;
    --highlight-color: #ff523b;
    --dark-highlight-color: #563434;
    --bg-color: #ffd6d6;
}


/* NAVBAR SECTION */


.header{
    background: radial-gradient(#fff, var(--bg-color));
}

.header .row{
    margin-top: 70px;
}

.container{
   max-width: 1300px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px ;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

p{
    color: var(--text-color);
}


.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* ----- media quary for menu ----- */

@media only screen and (max-width:800px) {

    .menu-icon{
        display: block;
        cursor: pointer;
    }

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition:  max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: white;
    }
}


/* MAIN PAGE SECTION */


.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    color: white;
    background: var(--highlight-color);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: var(--dark-highlight-color);
}

/* FEATURED CATEGORIES */

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* FEATURED PRODUCTS */

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: var(--text-color);
}

.title::after{
    content: "";
    background: var(--highlight-color);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

h4{
    color: var(--text-color);
    font-weight: normal;
    font-size: medium;
}

.col-4 p{
    font-size: smaller;
}

.rating .fas{
    color: var(--highlight-color);
}

.col-4:hover{
    transform: translateY(-5px);
}

/* EXCLIUSIVE OFFER */

.offer{
    background: radial-gradient(#ffffff, var(--bg-color));
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: var(--text-color);
}

/* TESTIMONIAL SECTION */

.testimonial{
    margin-top: 100px;
}

.testimonial .col-3{
    flex-basis: 25%;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    transition: transform 0.5s; 
}

.testimonial .col-3:hover{
    transform: translateY(-5px);
}

.testimonial .col-3 p{
    font-size: x-small;
    margin: 12px 0;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50px;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: var(--text-color);
    font-size: medium;
}

/* BRANDS */

.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0);
}


/* FOOTER */

.footer{
    background-color: black;
    color: var(--text-color-2);
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer h3{
    color: white;
    text-align: center;
}

.footer p{
    color: var(--text-color-2);
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style: none;
    padding: 0%;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}


/* ALL PRODUCTS */


.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid var(--highlight-color);
    padding: 5px;
}

select:focus{
    border: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid var(--highlight-color);
    margin-left: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}

.page-btn span:hover{
    background: var(--highlight-color);
    color: white;
}


/* SINGLE PRODUCT DETAILS */

.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
   padding: 0%;
}

.single-product .col-2{
    flex-basis: 45%;
}

.single-product h4{
    margin: 20px 0;
    font-size: medium;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: small;
    margin-right: 10px;
    border: 1px solid var(--highlight-color);
    outline: none;
}


/* ----- media quary for less than 600 screen size ----- */

@media only screen and (max-width:600px) {
    .row{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    /* SINGLE PRODUCT DETAILS */

    .single-product .row{
        text-align: left;
    }

    .single-product .col-2{
        padding: 20px 0;
    }

    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
}

