body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

:root {
    --text-color: #555;
    --text-color-2: #8a8a8a;
    --highlight-color: #ff523b;
    --dark-highlight-color: #563434;
    --bg-color: #ffd6d6;
}

/* NAVBAR SECTION */

.navbar{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 4rem 1rem 4rem;
    padding-top: 1rem;
}

.company-logo{
    width: 8rem;
}

.navbar-list-section{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    float: right;
}

.navbar-list{
    list-style: none;
    display: inline-block;
}

.navbar-listitems{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.cart{
    margin-left: 0.5rem;
    width: 2rem;
    filter: grayscale(100%);
}

.menu{
    width: 1.8rem;
    display: none;
}

@media only screen and (max-width: 800px){

    .navbar-list-section{
        justify-content: last baseline;
        align-items: baseline;
    }
    .navbar-list{
        display: none;
    }

    .menu{
        display: inline-block;
        margin-left: 2rem;
    }
}

/* SECOND NAVBAR SECTION */

.second-navbar{
    display: none;
    width: 100%;
    background-color: black;
}

.second-navbar-list{
    list-style: none;
    display: block;
    float: right;
    padding: 0%;
    margin: 0%;
    background-color: black;
    color: white;
}

.second-navbar-listitems{
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

/* MAIN SECTION */

.main-section{
    
    display: flex;
    flex-flow: row;
    flex-basis: 50%;
    margin-left: 4rem;
    margin-right: 4rem;
}

.main-section1{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.main-section-heading{
    font-weight: bolder;
    font-size: 3rem;
    margin: 0;
}

.main-section-para{
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    color: var(--text-color);
}

.main-section-btn{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: var(--highlight-color);
}

.main-section-btn:hover{
    background-color: var(--dark-highlight-color);
}

.main-section-img{
    height: 40rem;
    width: 40rem;
    object-fit: contain;
}

/* MAIN PAGE CATEGORY SECTION */

.category-section{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.category-section-images{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.category-section-image{
    width: 25%;
    margin: 1rem;
}


/* FEATURED PRODUCT SECTION */

.featured-product-section{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.title{
    color: var(--text-color);
    text-align: center;
    margin: 0%;
    margin-bottom: 0.5rem;
}

.title-underline{
    background-color: var(--highlight-color);
    width: 5rem;
    height: 0.25rem;
    border: none;
    border-radius: 50px;
    margin-bottom: 4rem;
}

.featured-products{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.product-div{
    width: 30%;
    margin: 1rem;
    transition: transform 0.5s ease-in;
}

.product-div:hover{
    
    transform: translateY(-1rem);
}

.checked{
    color: var(--highlight-color);
}

.product-name,
.product-value
{
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.product-image{
    width: 15rem;
}

/* EXCLUSIVE SECTION */

.exclusive-section-container{
    display: flex;
    flex-flow: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding-top: 5rem;
    padding-bottom: 5rem;
} 

.exclusive-section{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    /* flex-basis: 50%; */
    background-color: var(--bg-color);
}

.exclusive-section-img{
    width: 28rem;
    height: 22rem;
    margin-right: 2rem; 
    padding-top: 5rem;
    padding-bottom: 5rem;
}



.exclusive-section-para{
    width: 25rem;
    line-height: 2;
    font-size: .8rem;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}


/* TESTMONIALS SECTION */

.testimonials-section{
    width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.user-opinions{
    width: 20rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
}

.user-opinions:hover{
    transform: translateY(-0.5rem);
    transition: transform 1s ease;
}

.testimonials-para{
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    text-align: center;
}

.testimonials-img{
    width: 3rem;
    border-radius: 50%;
}

.testimonials-name{
    color: var(--text-color);
    font-weight: bolder;
}

/* LOGO SECTION */

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.promo-logos{
    margin: 1.5rem;
    filter: grayscale(100%);
}

.promo-logos:hover{
    filter: grayscale(0%);
}